<div class="section" id="section2">

    <div class="post-container">
        <img id="now" src="assets/now.png"/>
        <ul class="post-container-ul">
            <% ['1st', '2nd', '3rd'].each do |post| %>
                <li id="<%= post %>">
                    <div class="post-title-and-date">
                        <h3 class="post-title"></h3>
                        <h3 class="post-date"></h3>
                    </div>
                    <p class="post-body"></p>
                </li>
            <% end %>
        </ul>

        <div>
            <img id="archive-btn" src="assets/archive-btn.png"/>
        </div>

        <div class="post-selector-container">
           <span id="post-prev"><img id="post-prev-img" src="assets/post-left.png"/></span>
           <ul id="ul-posts-list"></ul>
           <span id="post-nxt"><img id="post-prev-img" src="assets/post-left.png" style="-webkit-transform: rotate(180deg);"/></span>
        </div>
    </div>

</div>