<div class="section" id="section1">
    <img class="image-scale" id="boob_elephant" src="assets/boob_elephant_image.png"/>
</div>

<div class="section" id="section2">

    <div class="post-container">
        <img id="now" src="assets/now.png"/>
        <ul>
            <% @posts.each do |post| %>
                <li>
                    <div class="post-title-and-date">
                        <h3 class="post-title"><%= post.title %></h3>
                        <h3 class="post-date"><%= post.created_at.strftime("%m/%Y") %></h3>
                    </div>
                    <p><%= post.body %></p>
                </li>
            <% end %>
        </ul>
    </div>
</div>

<div class="section" id="section3">
    <img class="image-scale" id="bum" src="assets/bum.png"/>
</div>

<div class="section" id="section4">
    <!-- <img class="image-scale" id="space1" src="assets/space1.png"/> -->

    <div id="music-links">
        <ul>
            <li>
                <a href="#"><img src="assets/1-FoN.png"/></a>
            </li>
            <li>
                <a href="#"><img src="assets/2-IM.png"/></a>
            </li>
            <li>
                <a href="#"><img src="assets/3-SS.png"/></a>
            </li>
            <li>
                <a href="#"><img src="assets/4-L.png"/></a>
            </li>
        </ul>
    </div>
</div>

<div class="section" id="section5">
    <img class="image-scale" id="bird-monkey" src="assets/bird_monkey.png"/>
</div>

<div class="section" id="section6">
    <!-- youtube embed -->
    <iframe width="560" height="315" src="//www.youtube.com/embed/<%= @video.link %>" frameborder="0" allowfullscreen></iframe>
</div>

<div class="section" id="section7">
    <img class="image-scale" id="spear-wolf" src="assets/spear_wolf.png"/>
</div>

<div class="section" id="section8">
    <ul>
        <li>(BIO)</li>
        <li>(PHOTOS)</li>
        <li>(TOOLS)</li>
    </ul>

    <div id="bio" class="tab-content">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
        eget dolor. Aenean massa. Cum sociis natoquepenatibus et magnis dis parturient
        montes,ni nascetur ridiculus mus. Donec quam felis,in ultricies nec, pellentesque
        eu, pretium quis, i. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget
        condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed
        ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. unt. Duis
        leo. Se add one more line to match the next column and maybe itll look betterrhon
        -
        cus, sem quam semper libero, sit amet adipiscing se
        mLore
        , consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        Cum sociis natoquepenatibus et magnis dis parturient montes,ni nascetur ridicu
         condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque
        sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. unt.
        Duis leo. Se add one more line to match the next column and maybe itll look bet
        -
        terrhoncus, sem quam semper libero, sit amet adipiscing semblandit vel, luctus
        pulvinar, hendrerit id, lorem. unt. Duis leo. Se add one more line to match the next
        column and maybe itll look betterrhoncus, sem quam semp
         adipiscing se
        mLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
        commodo ligula next column and maybe itll look betterrhoncus, sem quam semper
        libero, sit amet adipiscing semMaecenas tempus, tellus eget condimentum
        rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam
        quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. unt. Duis leo. Se add
        one more line to match the next column and maybe itll look bettercolumn and
        maybe itll bettercolumn and maybe itll bettercolumn
    </div>

    <div id="photos" class="tab-content" style="display: none;">
    </div>

    <div id="tools" class="tab-content" style="display: none;">
    </div>

</div>

<div class="section" id="section9">
    <img class="image-scale" id="big_face" src="assets/big_face_image.png"/>
</div>

<div class="section" id="section10">
    <table class="table">
        <tr>
            <th>WHAT</th>
            <th>WHERE</th>
            <th>WHEN</th>
            <th>HOW</th>
        </tr>
        <tr>
            <td>AMAN</td>
            <td>ROOFTOP - NEW YORK</td> 
            <td>12/12/24 7PM</td>
            <td>BUY</td>
        </tr>
        <tr>
            <td>SIKANDAR</td>
            <td>ROOFTOP - NEW YORK</td> 
            <td>12/12/14 7PM</td>
            <td>BUY</td>
        </tr>
        <tr>
            <td>SUNWOO</td>
            <td>DOWNTOWN - SEATTLE</td> 
            <td>12/12/24 7PM</td>
            <td>BUY</td>
        </tr>
        <tr>
            <td>JULIEE</td>
            <td>NOT IN INDIA</td> 
            <td>NEVER</td>
            <td>BUY</td>
        </tr>
        <tr>
            <td>AMAN</td>
            <td>ROOFTOP - NEW YORK</td> 
            <td>12/12/24 7PM</td>
            <td>BUY</td>
        </tr>
    </table>
</div>
