<div class='landing'>
  <div class='landing-links-div'>
    <ul class='landing-links-list'>
      <li><a href="<%= home_path %>">AMAN</a></li> /
      <li><a href="#">COMPOSITIONS</a></li> / 
      <li><a href="#">LEARN</a></li> / 
      <li><a href="/home#shows">SHOWS</a></li>
    </ul>
  </div>
  <div class='landing-social-div'>
    <ul class="landing-social-links">
      <a href="#"><li id="facebook-icon" class="social-icon"></li></a>
      <a href="#"><li id="twitter-icon" class="social-icon"></li></a>
      <a href="#"><li id="youtube-icon" class="social-icon"></li></a>
      <a href="#"><li id="bandcamp-icon" class="social-icon"></li></a>
      <a href="#"><li id="email-icon" class="social-icon"></li></a>
    </ul>
  </div>
</div>