<h1>Galleries</h1>

<%= link_to 'New Gallery', new_gallery_path %>
<br><br>
<% @galleries.each do |gallery| %>
  <p>
    <%= link_to gallery.name, gallery %>
    <%= link_to 'Edit', edit_gallery_path(gallery) %>
    <%= link_to 'Destroy', gallery, method: :delete %>
  </p>
<% end %>
