
@font-face {
    font-family: 'SackersGothic';
    src: asset-url('SackersGothic.eot');
    src: asset-url('SackersGothic.eot?iefix') format('eot'),
         asset-url('SackersGothic.woff') format('woff'),
         asset-url('SackersGothic.ttf') format('truetype'),
         asset-url('SackersGothic.svg#webfont') format('svg');
}

@font-face {
  font-family: 'Sansumi-DemoBold';
  src: asset-url('Sansumi-DemiBold.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Sansumi-DemoBold';
}

.landing {
  background: url(landing_page.png) top left no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'SackersGothic';
}

.landing-logo { 
  max-width:130px;
}

div.fadehover { 
  cursor: pointer;
  position: relative;
  top: 47vh;
  left: 17%;
}

img.a{
  position: absolute;
  left: 0;
  top: 0;
}

img.b{
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  z-index: 10;
}

.landing-social-div{
  bottom: 0;
  left: 5px;
  position: fixed;
  .landing-social-links {
    margin-bottom: 5px;
    height: 100%;
    li {
      display: inline;
      padding: 11px 19px 0px 15px;
    }
  }
}

/*landing-social-links{
  bottom: 0;
  right: 0;
  position: absolute;
  float: right;
}*/

.landing-links-div {
  bottom: 0;
  right: 0;
  position: fixed;
}

.landing-links-list {
  li {
    display: inline;
    padding: 0 15px 0 15px;
  }
  a {
    color:grey;
  }
  a:hover {
    color:black;
    text-decoration: none;
  }
}

body.sidescroll {
  width: 12000px;
  height: 100vh;
  position:absolute;
  top:0px;
  left:0px;
  bottom:0px;
}

body, html {
  min-height: 100%;
}

.tools {
  font-family: 'SackersGothic';
  font-size: 25px;
  text-align: center;
  margin-right: 0 !important;
  float: none !important;
}

#tools ul {
  position: relative;
  top: 45%;
  transform: translateY(-47%);
  -ms-transform: translateY(-47%);
  -webkit-transform: translateY(-47%);
}

.tools a:hover {
  text-decoration: none;
}

li.tools {
  margin-bottom:10%;
  font-size: 14px;
}

.black a {
  color: black;
}

.white a {
  color: grey;
}

.black a:hover {
  color: grey;
}

.white a:hover {
  color: black;
}

.section{
  margin: 0px;
  top: 0px;
  bottom: 0px;
  float: left;
  height: 100%;
  overflow-y: hidden;
}

.image-scale {
  max-width: 100%;
  height: 100vh;
  width: auto; /* ie8 */
}

#section1 img#boob_elephant {
  max-width: 100%;
  height: 100vh;
  width: auto\9; /* ie8 */
}

#section2 {
	width: 1200px;
	height: 100%;
	overflow: hidden;
  margin-right: -2%;
}

p.post-body {
  height: 25vh !important;
  font-size: 9px !important;
  font-size: 1.5vh !important;
  text-align: left !important;
  line-height: 180%;
}

#section2 .post-selector-container {
  display:none;
}

#section2 #archive-btn {
  margin-top: 25px;
  width:3%;
  cursor: pointer;
}

#section2 #now {
  height: auto;
  width: 90px;
  margin: 0 auto;
  margin-bottom: 35px;
}

#section2 .post-container {
  position: relative;
  top: 15%;
  text-align: center;
}

#section2 .post-container > ul {
  width: 100%;
  padding-left: 35px;
  text-align: justify;
}

#section2 .post-container-ul li {
  width: 25% !important;
  float: left;
}

.indi-post:nth-child(1), .indi-post:nth-child(2) {
  margin-right: 11% !important;
}

#section2 .post-container ul li:not(.post-selector-li) {
  width: 30%;
  margin-right: 30px;
  float: left;
  list-style-type: none;
}

#section2 .post-container #ul-posts-list li {
  margin: 0 15px 0 15px;
  float: left;
  list-style-type: none;
}

#section2 .post-container ul li p {
  overflow: scroll;
  height: 200px;
  width: 100%;
}

#section2 .post-title {
  float: left;
  font-family: 'SackersGothic';
  font-size: 10pt;
}

#section2 .post-date {
  text-align: right;
  float: right;
  font-family: 'SackersGothic';
  font-size: 15px;
  font-size: 10pt;
}

#section2 ul#js-posts {
  margin: 0 auto;
  width: 100vw;
}

#section2 .post-selector-container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#section2 .js-post {
  white-space: nowrap;
}

h3.js-post {
  font-size: 4vh;
}

#section2 #ul-posts-list {
  li{
    cursor:pointer;
  }
  .list-post-title, .list-post-date {
    font-family: 'SackersGothic';
    font-size: 10px;
  }
  display: inline-block;
  min-width: 80%;
  height: 50px; 
  margin-bottom: -.1%;
  padding-left: 2%;
}

#section2 ol#pagination, #section6 ol#pagination{
  display:none;
}

#photos {
  padding-top: 10%;
}

/*#section2 #ul-posts-list::before{
  content: 'yo';
  background-image: image-url('posts-next.png')
}*/

#section2 ul#js-posts h1 {
  font-size: 15px;
  font-size: 1vw;
  list-style-type: none;
  float: left;
  margin-right: 15px;
}

#post-prev, #post-nxt{
  display: inline-block;
  height:100%;
  vertical-align:middle;
  cursor: pointer;
}

.grey-post {
  color: #bababa;
}

#post-prev-img, #post-nxt-img{
  width: 30px;
}

#music-links {
  z-index: 9999;
}

#music-links ul li {
  position: relative;
}

#music-links ul {
  list-style-type: none;
  height: 100vh;
  background: url(space1.png) top left no-repeat;
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
}

#music-links ul li {
  float: left;
  margin-right: 120px;
}

#music-links ul li img {
  height: 120px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  -ms-transition: -ms-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;  
}

#music-links ul li img:hover {
  transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  -webkit-transform:rotate(360deg);
}

#section6 {
  width: 100vh;
  background: url(video-bg.png) top left no-repeat;
  background-size: cover;
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
}

.video:hover {
  cursor: pointer;
}

.video-preview {
  height: auto;
  width: 100%;
}

.video-detail-wrapper{
  margin: 30px 50px 0 50px;
  padding-top: 35px;
}

#video-prev-img, #video-nxt-img{
  width: 40px;
  position: relative;
}


#video-prev, #video-nxt{
  width:50px;
  display: relative !important;
  cursor: pointer;
}

.video-preview-ul {
  display: inline-block;
  width: 75%;
  height: 50px;
  li{
    list-style-type: none;
  } 
}

/*.video-preview-ul li {
  float: left;
  margin-right: 15px;
}*/

.tab-content {
  display: none;
  height: 65vh;
  padding-right: 20px;
}

.tab-content.wider{
  padding-right: 0;
  width: 104%;
}

.tab-link {
  //text-align: left !important;
}

.tab-link a {
  font-family: 'SackersGothic';
  color: grey;
  text-decoration: none;
}

.tab-link a:active {
  text-decoration: none !important;
}

.tab-link a:hover, .tab-link a:active {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.active-tab-link a {
  color: black;
}

.active-tab-link::before {
  font-family: 'SackersGothic';
  content: "( ";
  font-size: 14px;
}

.active-tab-link:after {
  font-family: 'SackersGothic';
  content: " )";
  font-size: 14px;
}

.tab-link #other-projects {
  font-size: 12px;
  color: black;
  text-decoration: none;
  font-family: 'SackersGothic';
}

#other ul {
  position: relative;
  top: 45%;
  transform: translateY(-47%);
  -ms-transform: translateY(-47%);
  -webkit-transform: translateY(-47%);
}

#other.tab-content li a {
  font-size: 14px;
}

#bio {
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 10px;
  line-height: 20px;
}

.tab-link-ul .tab-link {
  text-align: center;
  padding-top: 40px;
    padding-left: 0;

}

.active-tab {
  display: block !important;
}

#section7, #section6 {
  position: relative;
}

#section6 {
  z-index: 0;
}

#section7 {
  margin-left: -50px;
  z-index: 2;
}

#section8 {
  width: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 70px;
}

#section8 ul li {
  list-style-type: none;
}

.landing ul li {
  list-style-type: none;
}

#section10 {
  padding-left: 100px;
  padding-right: 100px;
  width: 1405px;
}

#section10 .table thead tr th {
  font-size: 40px;
  font-weight: lighter;
  text-align: center;
}

#section10 .table tbody tr td {
  font-weight: lighter;
  text-align: center;
}

#shows{
  display: block; position: relative; right: -450px; visibility: hidden;
}

#shows_clinics {
  padding-left: 38%;
  margin-top: 30px;
}

#shows-link {
  background-image: image-url('Shows-03.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  width: 100px;
  float: left;
  cursor: pointer;
}

#shows-link.hovered {
  background-image: image-url('shows_hover.png');
  position: relative;
  top: 17px;
  cursor: pointer;
}

#slash-link {
  background-image: image-url('Slash-05.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  float: left;
  position: relative;
  top: 20px;
}

#clinics-link {
  background-image: image-url('Shows-04.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  width: 100px;
  float: left;
  position: relative;
  top: 3px;
  cursor: pointer;
}

#clinics-link.hovered {
  background-image: image-url('clincs_hover.png');
  position: relative;
  top: 17px;
  cursor: pointer;
}

#video-title {
  font-size: 2.5vh;
  margin-bottom: 0;
}

#video-body {
  font-size: 1.6vh;
  overflow: scroll;
  color: rgb(200, 200, 200);
  height: 50px;
  line-height: 18px;
}

.gallery-photo {
  width: 100%;
  cursor: pointer;
}

.modal-body {
  padding: 0 !important;
}

.modal-body img {
  width: 100%;
}

.w img{
  width: auto !important;
}

.gallery-li {
  margin-right: 0 !important;
  float: left;
}

.modal-footer {
  padding: 0 !important;
}

.modal-backdrop.in {
  opacity: 1.0 !important;
}

ul.social-links {
  position: relative;
  left: 20px;
}

ul.social-links li {
  float: left;
}

ul.social-links li img {
  width: 30px;
  height: auto;
}

.tab-link.other{
  width: 45%;
  text-align: center;
}

.social-icon {
  background-repeat:no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#facebook-icon {
  background-image: image-url("FB.png");
}

#facebook-icon:hover {
  background-image: image-url("FB_Hover.png");
}

#twitter-icon {
  background-image: image-url("Twitter.png");
}

#twitter-icon:hover {
  background-image: image-url("Twitter_Hover.png");
}

#youtube-icon {
  background-image: image-url("YouTube.png");
}

#youtube-icon:hover {
  background-image: image-url("YouTube_Hover.png");
}

#bandcamp-icon {
  background-image: image-url("Bandcamp.png");
}

#bandcamp-icon:hover {
  background-image: image-url("Bandcamp_Hover.png");
}

#email-icon {
  background-image: image-url("Email.png");
}

#email-icon:hover {
  background-image: image-url("Email_Hover.png");
}

.jssort01 .w {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.jssort01 .c {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 68px;
    height: 68px;
    border: #000 2px solid;
}
.jssort01 .p:hover .c, .jssort01 .pav:hover .c, .jssort01 .pav .c {
    background: url(../img/t01.png) center center;
    border-width: 0px;
    top: 2px;
    left: 2px;
    width: 68px;
    height: 68px;
}
.jssort01 .p:hover .c, .jssort01 .pav:hover .c {
    top: 0px;
    left: 0px;
    width: 70px;
    height: 70px;
    border: #fff 1px solid;
}

.c {
  border: none !important;
}

.modal-dialog {
  margin-top: 140px !important;
  margin-left: 0 important;
  margin-right: 35% !important;
}

.dataTables_info {
  display: none;
}

.x-button:hover {
  cursor: pointer;
}

.slider div div {
  background-color: black;
  cursor: pointer;
}

.c {
  background-color: transparent !important;
}

.table thead tr th {
  color: grey;
}

#spear-wolf {
  margin-right: 130px;
  position: relative;
  left: -0.7%;
}

.underline{
  margin-top: -10px;
}

.star {
  position: absolute;
}

#first-egg {
  left:40%;
  top: 500px;
}

#second-egg {
  left: 42%;
  top: 100px;
}

#third-egg {
  left: 38%;
  top: 230px;
}

#first-twinkle {
  position: absolute;
  left: 40%;
  top: 500px;
}
#second-twinkle {
  position: absolute;
  left: 42%;
  top: 100px;
}
#third-twinkle {
  position: absolute;
  left: 38%;
  top: 230px;
}

/* Sink */
.hvr-sink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sink:hover, .hvr-sink:focus, .hvr-sink:active {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}

.auto-resizable-iframe {
  max-width: 900px;
  margin: 0px auto;
}

.auto-resizable-iframe > div {
  position: relative;
  padding-bottom: 60%;
  height: 0px;
}

.auto-resizable-iframe iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.shows-table{
  display: block;
}

.shows-table-body{
  display: block;
  max-height: 500px;
  overflow-y: scroll;
}

.clinics-table{
  display: block;
}

.clinics-table-body{
  display: block;
  max-height: 500px;
  overflow-y: scroll;
}

.tbl-row{
  display: block;
}

.tbl-row td:nth-child(1), .tbl-row th:nth-child(1){
  width: 200px;
}

.tbl-row td:nth-child(2), .tbl-row th:nth-child(2){
  width: 600px;
}

.tbl-row td:nth-child(3), .tbl-row th:nth-child(3){
  width: 200px;
}

.tbl-row td:nth-child(4), .tbl-row th:nth-child(4){
  width: 200px;
}

#tbl-scroll-up{
  width:3%;
  cursor: pointer;
}

#tbl-scroll-down{
  width:3%;
  cursor: pointer;
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

#scrolls{
  text-align:center;
}
#vids-selector-wrapper{
 text-align: center; 
}

