
@font-face {
    font-family: 'SackersGothic';
    src: asset-url('SackersGothic.eot');
    src: asset-url('SackersGothic.eot?iefix') format('eot'),
         asset-url('SackersGothic.woff') format('woff'),
         asset-url('SackersGothic.ttf') format('truetype'),
         asset-url('SackersGothic.svg#webfont') format('svg');
}

* {
    margin: 0;
    padding: 0;
}

body.sidescroll {
  width: 12000px;
  height: 100vh;
  position:absolute;
  top:0px;
  left:0px;
  bottom:0px;
}

body, html {
  min-height: 100%;
}

.section{
    margin: 0px;
    top: 0px;
    bottom: 0px;
    float: left;
    height: 100%;
}

.image-scale {
  max-width: 100%;
  height: 100vh;
  width: auto; /* ie8 */
}

#section1 img#boob_elephant {
  max-width: 100%;
  height: 100vh;
  width: auto\9; /* ie8 */
}

#section2 {
	width: 1200px;
	height: 100%;
	overflow: hidden;
}

#section2 #ul-posts-list {
  display:none;
}

#section2 #archive-btn {
  width:3%;
}



#section2 #now {
  height: auto;
  width: 90px;
  margin: 0 auto;
  margin-bottom: 60px;
}

#section2 .post-container {
  position: relative;
  top: 15%;
  text-align: center;
}

#section2 .post-container ul {
  width: 100%;
  padding-left: 35px;
  text-align: justify;
}

#section2 .post-container ul li {
  width: 30%;
  margin-right: 30px;
  float: left;
  list-style-type: none;
}

#section2 .post-container ul li p {
  overflow: scroll;
  height: 200px;
  width: 100%;
}

#section2 .post-title {
  float: left;
  font-family: 'SackersGothic';
  font-size: 20px;
  font-size: 1vw;
}

#section2 .post-date {
  text-align: right;
  float: right;
  font-family: 'SackersGothic';
  font-size: 15px;
  font-size: 1vw;
}

#section2 ul p {
  font-size: 20px;
  font-size: 1vw;
}

#section2 ul#js-posts {
  margin: 0 auto;
  width: 100vw;
}

#section2 #ul-posts-list {
  li {
    width:20%;
  }
  .list-post-title, .list-post-date {
    font-family: 'SackersGothic';
    font-size: 20px;
    font-size: 1vw;
  }
}

#section2 ul#js-posts h1 {
  font-size: 15px;
  font-size: 1vw;
  list-style-type: none;
  float: left;
  margin-right: 15px;
}

#music-links {
  z-index: 9999;
}

#music-links ul li {
  position: relative;
}

#music-links ul {
  list-style-type: none;
  height: 100vh;
  background: url(space1.png) top left no-repeat;
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
}

#music-links ul li {
  float: left;
  margin-right: 120px;
}

#music-links ul li img {
  height: 120px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  -ms-transition: -ms-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;  
}

#music-links ul li img:hover {
  transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  -webkit-transform:rotate(360deg);
}

#section6 {
  width: 560px;
  background-color: black;
  color: white;
  overflow: scroll;
}

.video-preview {
  height: auto;
  width: 150px;
}

.video-preview-ul li {
  float: left;
  margin-right: 15px;
}

.tab-content {
  display: none;
}

.active-tab {
  display: block !important;
}

#section8 {
  width: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#section8 ul li {
  list-style-type: none;
  float: left;
  margin-right: 100px;
}

#section10 .table thead tr th {
  font-size: 40px;
  font-weight: lighter;
  text-align: center;
}

#section10 .table tbody tr td {
  font-weight: lighter;
  text-align: center;
}

#video-title {
  font-size: 2.5vh;
}

#video-body {
  font-size: 1.9vh;
  max-height: 70px;
  overflow: scroll;
}

.gallery-photo {
  width: 100%;
  cursor: pointer;
}

.modal-body {
  padding: 0 !important;
}

.modal-body img {
  width: 100%;
}

.gallery-li {
  margin-right: 0 !important;
}

.modal-footer {
  padding: 0 !important;
}

.modal-backdrop.in {
  opacity: 0.9 !important;
}